@charset "UTF-8";

.menu-item {
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
}

.main-section {
    display: flex;
    flex-direction: column;
    
}
.main-section-written {
    text-align: center;
    padding: 10px;
    margin: 10px;
}
.img-section-written {
    width: 200px;
}

.secundary-section-written {
    padding: 24px;
    text-align: center;
    
   

}

.secundary-section {
    display: flex;
    text-align: center;
    width: 320px;
    height: 380px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
  
   
    
}
.container {
    display: flex;
    flex-direction: column;
    margin: 18px;
    
}

.container-final {
    width: 200px;
}
.quadrado {
    width: 320px;
    height: 250px;
    margin-top: 23px;
    margin-bottom: 20px;
    border-radius: 34px;
    
}

.subtitulo-quadrado {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 25px;
}

.paragrafo-quadrado {
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    line-height: 18px;
    padding-top: 25px;
}
